# This workflow will run tests across supported Python versions
---
name: Python Continuous Integration

on:  # yamllint disable-line rule:truthy
    pull_request:
        branches: ["main"]

env:
    ROLE_ARN: "arn:aws:iam::303467602807:role/pytest-tester"

permissions:
    id-token: write
    contents: read

concurrency:
    group: aws-control
    cancel-in-progress: false

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.10", "3.11", "3.12", "3.13"]
            fail-fast: false

        steps:
            - uses: actions/checkout@v6

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                  role-to-assume: ${{ env.ROLE_ARN }}
                  role-session-name: "terraform-ci"
                  aws-region: "us-west-2"
                  role-duration-seconds: 43200

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_wrapper: false

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -e .

            - name: Lint with black and isort
              run: |
                  black --check src tests
                  isort --check-only src tests

            - name: Run tests
              run: |
                  make test
